In [26]:
import pandas as pd
import numpy as np

In [31]:
def hemisphere_sign(hemisphere_letter):
    sign = pd.Series(np.ones(hemisphere_letter.shape))
    sign[hemisphere_letter.str.lower().str.contains('w')] = -1.0
    sign[hemisphere_letter.str.lower().str.contains('s')] = -1.0
    return sign

In [34]:
def ddm2dd(ddm):
    """Convert string column with degrees, decimal, minutes and hemisphere to decimal degrees
    """
    #which = 'Latitude'
    #which = 'Longitude'
    split_1 = ddm.str.split('°', expand=True)
    split_2 = split_1[1].str.split("'", expand=True)

    #split_1, split_2

    return (split_1[0].astype(float) + split_2[0].astype(float)/60) * hemisphere_sign(split_2[1])

# Cascadia U1301A/B

In [3]:
df = pd.read_html('http://publications.iodp.org/proceedings/301/101/101_t2.htm')[0]

In [37]:
df['lon_dd'] = ddm2dd(df['Longitude'])
df['lat_dd'] = ddm2dd(df['Latitude'])
df

,Site/Hole,Latitude,Longitude,Seismic line,CDP/TR,lon_dd,lat_dd
0,Hole U1301A,47°45.210'N,127°45.833'W,GeoB 00-466,CDP 557,-127.763883,47.753500
1,Hole U1301B,47°45.228'N,127°45.827'W,GeoB 00-466,CDP 556,-127.763783,47.753800
2,Hole U1301C,47°45.280'N,127°45.800'W,GeoB 00-468,CDP 388,-127.763333,47.754667
3,Hole U1301D,47°45.279'N,127°45.786'W,GeoB 00-468,CDP 390,-127.763100,47.754650
4,Hole U1026B,47°45.757'N,127°45.548'W,GeoB 00-203,CDP 962,-127.759133,47.762617
5,Hole U1027C,47°45.387'N,127°43.867'W,GeoB 00-203,CDP 741,-127.731117,47.756450
6,SR-2A,47°45.662'N,127°45.674'W,GeoB 00-482,CDP 439,-127.761233,47.761033
7,"FR-1A, C",47°54.105'N,128°33.468'W,InLine 44 (GeoB 00-365),TR 426,-128.557800,47.901750
8,FR-1B,47°54.132'N,128°33.591'W,InLine 44 (GeoB 00-365),TR 410,-128.559850,47.902200
9,DR-1A,47°38.810'N,127°26.999'W,EW0702 Line 1,CDP 3070,-127.449983,47.646833
10,DR-2A,47°37.449'N,127°20.049'W,EW0702 Line 1,CDP 1720,-127.334150,47.624150

# Acrtic U1315
http://publications.iodp.org/proceedings/303_306/114/114_.htm

Position might not be 100% correct.

In [40]:
ddm2dd(pd.Series(["067°13.1850'N", "002°55.7789'E"]))

0    67.219750
1     2.929648
dtype: float64